.sub-title {
  color: #2e7d32;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 4px;
}

.error-text {
  color: red;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 16px;
}

.text-fail {
  color: red;
  font-weight: bold;
}

.my-sticky-header-table {
  height: 400px;
}

.my-sticky-header-table thead tr th {
  position: sticky;
  z-index: 1;
  background-color: #f1f8e9;
}

.my-sticky-header-table thead tr:first-child th {
  top: 0;
}